asgiref==3.7.2
cffi @ file:///private/tmp/cffi-20231015-5890-1t5aans/cffi-1.16.0
distro-info==1.0
Django==5.0.1
django-filter==23.5
docutils @ file:///private/tmp/docutils-20231016-5939-7atnke/docutils-0.20.1
pycparser @ file:///private/tmp/pycparser-20231013-5647-12y5m5s/pycparser-2.21
python-memcached==1.62
six==1.16.0
sqlparse==0.4.4